/* UiKit Extras */
.uk-position-small[class*='uk-position-center-left'],.uk-position-small[class*='uk-position-center-right']{transform:translateY(-50%) translateY(-15px)}
[class*='uk-position-center-left'],[class*='uk-position-center-right']{top:50%;transform:translateY(-50%)}.uk-position-small[class*='uk-position-center-left'],.uk-position-small[class*='uk-position-center-right']{transform:translateY(-50%) translateY(-15px)}
.uk-position-center-left-out{right:100%;width:max-content}.uk-position-center-right-out{left:100%;width:max-content}
.uk-slider{-webkit-tap-highlight-color:transparent;}.uk-slider-container{overflow:hidden;}.uk-slider-items{will-change:transform;position:relative}.uk-slider-items:not(.uk-grid){display:flex;margin:0;padding:0;list-style:none;-webkit-touch-callout:none}.uk-slider-items.uk-grid{flex-wrap:nowrap;}.uk-slider-items>*{flex:none;position:relative;touch-action:pan-y}

.uk-pagination>.uk-active>* {
  color: #999999 !important;
  background-color: #FFF !important;
}

/*NoUiSlider CSS*/
/*! nouislider - 11.0.3 - 2018-01-21 14:04:07 */.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;left:0;height:100%;width:100%;-webkit-transform-origin:0 0;transform-origin:0 0}html:not([dir=rtl]) .noUi-horizontal .noUi-origin{left:auto;right:0}.noUi-vertical .noUi-origin{width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{position:absolute}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}html:not([dir=rtl]) .noUi-horizontal .noUi-handle{right:-17px;left:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%,0);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}

/* COLOR PALETTE */
:root {
  --cm-theme-1: #333333;
  --cm-theme-2: #5B5B5B;
  --cm-theme-3: #999999;
  --cm-theme-4: #CBCBCB;
  --cm-theme-5: #0093CC;
  --cm-theme-6: #00A0DE;
  --cm-theme-7: #7AC2DE;
  --cm-theme-8: #FFDC59;
  --cm-theme-9: #FFE480;
  --cm-theme-10: #FFF7D9;
  --cm-theme-11: #FFFAE6;
  --cm-theme-12: #FFFFFF;
}
/* Custom controls
 ========================================================================== */
/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow
 * 4. Behave like most inline-block elements
 */
.uk-form-custom {
  /* 1 */
  display: inline-block;
  /* 2 */
  position: relative;
  /* 3 */
  max-width: 100%;
  /* 4 */
  vertical-align: middle;
}
/*
 * 1. Position and resize the form control to always cover its container
 * 2. Required for Firefox for positioning to the left
 * 3. Required for Webkit to make `height` work
 * 4. Hide controle and show cursor
 * 5. Needed for the cursor
 * 6. Clip height caused by 5. Needed for Webkit only
 */
.uk-form-custom select,
.uk-form-custom input[type="file"] {
  /* 1 */
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* 2 */
  left: 0;
  /* 3 */
  -webkit-appearance: none;
  /* 4 */
  opacity: 0;
  cursor: pointer;
}
.uk-form-custom input[type="file"] {
  /* 5 */
  font-size: 500px;
  /* 6 */
  overflow: hidden;
}
/*
 * Horizontal
 */
/* Tablet portrait and smaller */
@media (max-width: 959px) {
  /* Behave like `uk-form-stacked` */
  .uk-form-horizontal .uk-form-label {
    display: block;
    margin-bottom: 5px;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-form-horizontal .uk-form-label {
    width: 200px;
    margin-top: 7px;
    float: left;
  }
  .uk-form-horizontal .uk-form-controls {
    margin-left: 215px;
  }
  /* Better vertical alignment if controls are checkboxes and radio buttons with text */
  .uk-form-horizontal .uk-form-controls-text {
    padding-top: 7px;
  }
}

/* Custom Buttons
 ========================================================================== */
.cm-main-button {
  background-color: var(--cm-theme-8);
  color: var(--cm-theme-1);
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}
.cm-main-button:hover:not([disabled]) {
  background-color: var(--cm-theme-8);
  color: var(--cm-theme-1);
  box-shadow: 0 6px 50px rgba(0,0,0,0.08);
}
.cm-button-primary:not([disabled]) {
  background-color: var(--cm-theme-6);
  color: var(--cm-theme-12);
}
.cm-button-primary:hover:not([disabled]) {
  background-color: #008EC5;
  color: var(--cm-theme-12);
}
.cm-phrases-button {
  padding: 0px;
  margin: 6px;
  height: 33px;
  width: 70px;
  line-height: inherit;
}
.cm-button-examples {
  background-color: var(--cm-theme-7);
  color: var(--cm-theme-12);
}
.cm-button-examples:hover {
  background-color: #85c8e2;
}
.cm-run-test-button:not([disabled]) {
  background-color: #8B9FA6;
  color: var(--cm-theme-12);
}
.cm-run-test-button:hover:not([disabled]) {
  background-color: #667880;
  color: var(--cm-theme-12);
  box-shadow: 0 6px 50px rgba(0,0,0,0.08);
}
/* Custom Examples Section
 ========================================================================== */
.cm-section-examples {
  background-color: var(--cm-theme-7);
  padding-top: 40px;
  padding-bottom: 40px;
}
.cm-child-width-examples-cards>* {
  width: 220px;
}
/* Custom Navigation
 ========================================================================== */
.cm-navigation {
  border-bottom: 5px solid #05007A;
  position:relative;
  color: #fff;
  padding-top: 0px;
  padding-bottom:0px;
  background:rgba(255,255,255, 0.0);
  /*background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/images/toolbar_bg.png);*/

}
.cm-navigation .forimage {
  background:rgba(255,255,255, 0.4);
}

.uk-section-overlap {
  /*margin-top:-40px!important;*/
}
.uk-sticky{
}

.tm-header .uk-navbar-left {position:relative;z-index:9999!important;}
.tm-header .uk-logo {padding: 5px 10px 10px 10px; position:relative;z-index:1000!important;}
.tm-header .uk-navbar-transparent{
  /* background:rgba(255,255,255, 0.7);*/
  padding-top:4px;
}
.cm-navigation .uk-container {
  padding-right:0px;
}

.cm-navigation ul.uk-subnav.uk-subnav-line{
  background-color: #05007A;
  padding-top:0px;
  transform: skew(25deg);
  padding-right:0px;
  margin-right:10px;
  padding-left:0px;
}

.cm-navigation .uk-subnav-line li {
  /*transition: background 0.2s;*/
  /*  display:inline-block;*/
  font-family:Roboto!important;
  font-weight:900!important;
  text-transform:uppercase!important;
  font-size:12px!important;
  opacity:1!important;
  display:inline-block;
}
.cm-navigation .uk-subnav-line > :before {
  content: none;
  display: block;
  /* display: inline-block*/
  height: 10px;
  vertical-align: middle
}

.uk-subnav-line > :nth-child(n + 2):before {
  margin-right: 10px;
  border-left: 0px ;
}

.cm-navigation .uk-subnav-line li  a{
  display: block;
  text-decoration:none;
  transform: skew(-25deg);
  font-family:Roboto 900 !important;
  text-transform:uppercase!important;
  font-size:13px!important;
  opacity:1!important;
  color:#05007A!important;

}
.cm-navigation .uk-subnav-line li:hover {
  color:#05007A!important;
  background:#fff;
  display: block;
}



.cm-navigation .uk-subnav-line li a:hover,
.cm-navigation .uk-subnav-line li:hover a{
  display: block;
  color:#05007A!important;
}

.cm-navigation  .uk-dotnav, .cm-navigation .uk-subnav {
  margin-bottom:0px!important;
}
.cm-nav-container {
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-bottom-color: #ffc800 !important;
  box-shadow: 0px 10px 16px 0px #fff3d1;
}
.cm-left-box {
  background-color: #ffc800;
  padding: 10px 89px 10px 41px;
}
.cm-nav-toolbar {
  border-width: 0px 0px 0px 0px;
}
.cm-nav-toolbar ul.uk-subnav.uk-subnav-line {
  background-color: #ffc800 !important;
}
/*.cm-navigation .uk-subnav-line .cm-nav-li {
  color: #05007A !important;
  background: #fff;
  display: block;
}*/
.cm-nav-li {
  padding: 0;
  background-color: #ffc800 !important;
}
.cm-nav-li:hover {
  background-color: #fff !important;
}
.cm-nav-li:hover  {
  background-color: #fff !important;
}
.cm-nav-li a {
  padding: 0;
}
.cm-nav-number-container {
  margin-left: -1px;
  padding: 8px 13px 3px 40px;
  background-color: #ffc800;
  transform: skew(25deg);
  display: inline-block;
  color: #05007A;
}
.cm-nav-li-number {
  padding: 5px 15px 5px 25px;
}
.cm-nav-number {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  line-height: 1.5;
  transform: skew(-25deg);
}
.cm-nav-title {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  line-height: 1.4;
}
.cm-nav-active {
  background-color: #fff !important;
}
.cm-nav-active .cm-nav-title {
  color: #05007A !important;
}
.cm-nav-disabled,
.cm-nav-disabled:hover,
.cm-nav-disabled .cm-nav-number-container {
  background-color: #fce39a !important;
  color: #91919d;
  cursor: default;
}
.cm-nav-disabled a {
  cursor: default;
}
.cm-nav-disabled span.cm-nav-title {
  color: #91919d;
}

/* Custom Navigation V2
 ========================================================================== */
.cm-nav2 {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  counter-reset: flag;
}
.cm-nav2-home {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 15px;
  line-height: 50px;
  padding: 0 16px 0 24px;
  position: relative;
  background: var(--cm-theme-12);
  color: var(--cm-theme-5);
  transition: background 0.3s;
  border: 2px solid var(--cm-theme-5);
}
.cm-nav2-home::after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  width: 50px;
  height: 50px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 5px 0 50px;
  background: var(--cm-theme-12);
  transition: background 0.3s;
  box-shadow: 2px -2px 0 1px var(--cm-theme-5);
}
.cm-nav2-home:hover,
.cm-nav2-home:hover::after{
  background: #008EC5;
  color: var(--cm-theme-12);
}
.cm-nav2-step {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 15px;
  line-height: 50px;
  padding: 0 16px 0 60px;
  position: relative;
  background: var(--cm-theme-12);
  color: var(--cm-theme-5);
  transition: background 0.3s;
  border: 2px solid var(--cm-theme-5);
}
.cm-nav2-step:first-child {
  padding-left: 46px;
  border-radius: 2px 0 0 2px;
}
.cm-nav2-step:first-child::before {
  left: 14px;
}
.cm-nav2-step:last-child {
  border-radius: 0 2px 2px 0;
  padding-right: 20px;
}
.cm-nav2-step:last-child::after {
  content: none;
}
.cm-nav2-step::before {
  font-family: Roboto;
  content: counter(flag);
  counter-increment: flag;
  width: 20px;
  height: auto;
  line-height: 35px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 24px;
  font-weight: bold;
}
.cm-nav2-step::after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  width: 50px;
  height: 50px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  border-radius: 0 5px 0 50px;
  background: var(--cm-theme-12);
  transition: background 0.3s;
  box-shadow: 2px -2px 0 1px var(--cm-theme-5);
}
.cm-nav2-step-active,
.cm-nav2-step-active::after{
  background: var(--cm-theme-6);
  color: var(--cm-theme-12);
}
.cm-nav2-step:hover,
.cm-nav2-step:hover::after{
  background: #008EC5;
  color: var(--cm-theme-12);
}
.cm-nav2-step:hover::before,
.cm-nav2-step-active::before {
  color: var(--cm-theme-12);
}
.cm-nav2-step-disabled,
.cm-nav2-step-disabled:hover {
  border: 2px solid var(--cm-theme-4);
}
.cm-nav2-step-disabled::after {
  box-shadow: 2px -2px 0 1px var(--cm-theme-4);
}
.cm-nav2-step-disabled,
.cm-nav2-step-disabled:hover,
.cm-nav2-step-disabled:hover::before,
.cm-nav2-step-disabled:hover::after {
  background: var(--cm-theme-12);
  color: var(--cm-theme-4);
  cursor: default;
}

/* Custom File drop Area Upload
 ========================================================================== */
.cm-file-drop-area {
  background-color: var(--cm-theme-10);
  border: 1px dashed var(--cm-theme-8);
  font-weight: 500;
}
/* Custom Inputs
 ========================================================================== */
#initial-type-input {
  border: 2px solid #f9c735;
  font-weight: bold !important;
  padding: 28px;
  border-radius: 3px;
  font: inherit;
}
.cm-text-input:-ms-input-placeholder {
  color: #aaa !important;
}
.cm-text-input::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.cm-text-input::-webkit-input-placeholder {
  color: #aaa;
}

/* Custom Table
 ========================================================================== */
.cm-table {
  border-collapse: collapse;
}
.cm-table th {
  padding: 16px 14px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}
.cm-table tbody tr, .cm-table tfoot tr {
  border: 1px solid var(--cm-theme-4);
}
.cm-table td {
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transition-property: color,background-color,border-color,box-shadow;
  transition-property: color,background-color,border-color,box-shadow;
}
.cm-table tbody tr:hover {
  background-color: var(--cm-theme-11);
}
.cm-table td.keyword:hover, .cm-table td.context:hover {
  background-color: var(--cm-theme-10);
}
.cm-table td.delete {
  padding: 14px;
  text-align: center !important;
}
.cm-table td.keyword, .cm-table td.context, .cm-table td.delete, .cm-table td.edit, .cm-table-footer {
  border-top: 1px solid var(--cm-theme-4);
  font-weight: 400;
}
.cm-table td.keyword, .cm-table td.context {
  border-right: 1px solid var(--cm-theme-4);
}
.cm-table tr.editing td.keyword, .cm-table tr.editing td.context {
  background-color: var(--cm-theme-9) !important;
}
.cm-table tr.editing td.keyword.editing, .cm-table tr.editing td.context.editing {
  background-color: var(--cm-theme-8) !important;
}
.cm-table td.keyword input, .cm-table td.keyword input:focus {
  background: transparent;
  border: none;
  padding: 14px;
}
.cm-table td.context textarea {
  background: transparent;
  border: none;
  word-break: normal;
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 8px 14px;
}
.cm-table tr.editing td.keyword input, .cm-table tr.editing td.context textarea {
  color: #555555;
}
.cm-table tr.editing td.keyword.editing input, .cm-table tr.editing td.context.editing textarea {
  font-weight: 600;
  color: #444444;
}
/*.cm-table td.keyword:hover, .cm-table td.context:hover, .cm-table td.edit:hover a {*/
/*color: #55546d;*/
/*}*/
/*.cm-table tr th {*/
  /*color: #5b6065;*/
  /*font-weight: bold;*/
/*}*/
/*.cm-table-number {*/
  /*background-color: #fbe39a;*/
  /*border-right: 1px solid #f7c800;*/
/*}*/
.empty:before {
  content: "Empty field";
  color: #ccc;
}
.cm-tooltip {
  width: 15px;
  display: inline-flex;
}
.uk-tooltip {
  padding: 5px 10px;
  background: var(--cm-theme-12);
  border: 1px solid var(--cm-theme-6);
  border-radius: 4px;
  color: var(--cm-theme-1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 3px;
}
/* Custom config section
 ========================================================================== */
.cm-config-settings-section {
  /*overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 841px;*/
  max-width: 850px !important;
  min-width: 460px !important;
  width: 35% !important;
}
.cm-config-section {

}
.cm-easy-config-section {
  padding: 30px 0px 60px 0px;
}
.cm-config-options-container {
  display: block;
  margin-top: -10px;
}
.cm-config-options-connect-line {
  margin: auto;
  display: block;
  position: relative;
  top: 29px;
  background-color: #ececec;
  z-index: -1;
  width: 70%;
  height: 8px;
  box-shadow: 0px 2px 0px #dedede;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72bbd6+0,617dd3+50,5243a7+100 */
  background: #72bbd6; /* Old browsers */
  background: -moz-linear-gradient(left, #72bbd6 0%, #617dd3 50%, #5243a7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #72bbd6 0%,#617dd3 50%,#5243a7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #72bbd6 0%,#617dd3 50%,#5243a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bbd6', endColorstr='#5243a7',GradientType=1 ); /* IE6-9 */
}
.cm-config-option {
  display: block;
}
/*.cm-config-light .cm-circle-button {
  background-color: #58bd87;
}
.cm-config-medium .cm-circle-button {
  background-color: #269487;
}
.cm-config-hard .cm-circle-button {
  background-color: #324b7f;
}
.cm-config-advance .cm-circle-button {
  background-color: #161264;
}*/
.cm-config-light .cm-circle-button, .cm-config-option:hover.cm-config-light .cm-outer-circle-button, .cm-config-option.cm-config-light.active .cm-outer-circle-button {
  background-color: #72bbd6;
}
.cm-config-medium .cm-circle-button, .cm-config-option:hover.cm-config-medium .cm-outer-circle-button, .cm-config-option.cm-config-medium.active .cm-outer-circle-button {
  background-color: #617dd3;
}
.cm-config-hard .cm-circle-button, .cm-config-option:hover.cm-config-hard .cm-outer-circle-button, .cm-config-option.cm-config-hard.active .cm-outer-circle-button {
  background-color: #5243a7;
}
.cm-config-advance .cm-circle-button, .cm-config-option:hover.cm-config-advance .cm-outer-circle-button, .cm-config-option.cm-config-advance.active .cm-outer-circle-button {
  background-color: #161264;
}
.cm-config-option:hover .cm-circle-button, .cm-config-option.active .cm-circle-button {
  background-color: #efefef;
}
/*.cm-config-option:hover .cm-circle-button-fill, .cm-config-option.active .cm-circle-button-fill {
  background-color: rgba(255, 255, 255, 0.39);
}*/
.cm-outer-circle-button {
  background-color: transparent;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  position: relative;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.cm-circle-button {
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  border-radius: 45px;
  position: absolute;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.cm-circle-button-fill {
  width: 16px;
  height: 16px;
  border-radius: 45px;
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: #efefef;
}
.cm-config-option span {
  font-weight: normal;
  font-family: Roboto;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 13px;
  text-align: center;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  color: #c7c6c6;
}
.cm-config-option:hover span, .cm-config-option.active span {
  color: #565656;
  text-decoration: none;
}
.cm-config-option-check {
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  color: black;
}
.cm-config-option.active .cm-config-option-check {
  display: block;
}
/* NoUISlider Custom CSS */
.ng2-nouislider {
  margin-top: 0px !important;
  padding: 48px 16px !important;
}
.noUi-connect {
  background: var(--cm-theme-6);
}
.noUi-target {
  border-radius: 2px;
}
.noUi-horizontal {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker {
  width: 1px;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -12px;
}

.noUi-horizontal .noUi-handle {
  width: 25px;
  height: 25px;
  top: -10px;
}
.noUi-handle:after, .noUi-handle:before {
  display: none;
}
.noUi-handle:after {
  left: 15px !important;
}
.noUi-handle:after, .noUi-handle:before {
  left: 12px;
  top: 4px;
}
.noUi-handle {
  cursor: pointer;
  border: 4px solid #f9f9f9;
  border-radius: 25px;
  background: var(--cm-theme-6);
  box-shadow: 0 1px 5px 0px #748188;
}
.noUi-active {
  background: var(--cm-theme-5);
  box-shadow: 0 1px 5px 0px #748188;
}
.noUi-horizontal .noUi-tooltip {
  bottom: 145%;
}



.cm-margin-medium {
  margin: 20px;
}
.cm-margin-medium-top {
  margin-top: 20px;
}
.cm-margin-medium-right {
  margin-right: 20px;
}
.cm-margin-medium-bottom {
  margin-bottom: 20px;
}
.cm-margin-medium-left {
  margin-left: 20px;
}
.cm-advanced-tools-section {
  padding: 0px 0px 20px 0px;
  min-height: 180px;
}
.cm-advanced-tools-section .uk-accordion-title {
  font-size: 16px;
}
.cm-advaned-tools-label {
  line-height: 1.4;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/*.cm-prhases {
  min-width: 350px !important;
  margin-top: 40px !important;
}*/
.cm-phrases-container {
  border-collapse: collapse;
  border-radius: 3px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #f7c800; /* this draws the table border  */
  margin-bottom: 20px !important;
}
.cm-phrases-container header {
  background-color: #fafafa;
  color: #5b6065;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
}
.cm-phrases-container ul {
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}
.cm-phrases-container ul li {
  padding: 0;
  border: none;
}
.cm-number-space, .cm-phrases-container ul li .num {
  background-color: #fafafa;
  border-right: 1px solid #e8e8e8;
  width: 40px;
  padding: 12px 0px;
  font-size: 14px;
}
.cm-text-input-phrase, .cm-text-input-weight {
  height: 34px;
  border: 1px solid #f7c800;
  font-weight: bold !important;
  text-indent: 8px;
  border-radius: 5px;
  font: inherit;
  margin: 5px 0px 5px 5px;
}
.cm-text-input-weight {
  width: 80px;
}
.cm-phrases-container .weight {
  width: 95px;
}
.cm-phrases-container footer {
  padding: 6px 6px 6px 20px;
}
.cm-phrases-container footer.positive {
  background-color: #c0ff94;
}
.cm-phrases-container footer.negative {
  background-color: #ffbfc9;
}
.cm-phrases-container ul {
  padding: 0;
  list-style: none;
}
.cm-phrases-container ul li:hover {
  background: #ffd;
}
.cm-phrases-container ul li input:hover, .cm-phrases-container ul li input[type=number]:hover {
  background-color: #fdfcc3;
}
.cm-phrases-container ul li.editing input, .cm-phrases-container ul li.editing input[type=number] {
  background-color: #ffd149;
  color: #555555;
}
.cm-phrases-container ul li.editing input:focus {
  background-color: #ffc800 !important;
  font-weight: 600;
  color: #444444;
}
.cm-phrases-container ul li .phrase, .cm-phrases-container ul li .weight {
  line-height: 1.5;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  font-weight: 400;
}
.cm-phrases-container ul li input, .cm-phrases-container ul li input[type=number] {
  border: none;
  padding-left: 12px;
  background: transparent;
  height: 100%;
}
.cm-phrases-container ul li input:focus, .cm-phrases-container ul li input[type=number]:focus {
  background: transparent;
}
.cm-phrases-container ul li .phrase:hover, .cm-phrases-container ul li .weight:hover {
  color: #00a0de;
  text-decoration: underline;
  cursor: default;
}
.cm-phrases-container ul li .erase {
  width: 55px;
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
}
.cm-match-area {
  padding: 7px;
  border: 1px solid #f7c800;
  margin-top: -1px;
}
.cm-match-area.left, .cm-match-area.right {
  background-color: #ffff94;
}
.cm-match-area.middle {
  background-color: #bedfff;
}

/* Custom Results Section
 ========================================================================== */
.cm-results-section {
  background-color: #fafafa;
  min-height: 686px;
  position: relative;
  border: 1px dashed var(--cm-theme-4);
  margin-left: 20px;
  border-radius: 5px;
}
.cm-results-section header {
  padding: 0;
  -webkit-transition: box-shadow 500ms;
  transition: box-shadow 500ms;
}
.cm-results-section header.uk-sticky-fixed {
  background-color: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 0px;
}
.cm-results-controls {
  padding: 20px 20px 20px 20px;
}
header.uk-sticky-fixed .cm-results-controls {
  background-color: rgb(242, 242, 242) !important;
  padding: 20px;
}
.cm-results-count-section {
  padding: 5px 20px 20px 20px;
}
header.uk-sticky-fixed .cm-results-count-section {
  background-color: rgba(245, 245, 245, 0.8) !important;
  padding: 5px 20px 5px 20px;
}
#cm-run-test-section {
  padding: 0px 20px 40px 20px;
}
#cm-run-test-section.uk-sticky-fixed {
  padding: 20px 20px 20px 20px;
  background-color: rgba(245, 245, 245, 0.9) !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 0px;
}
.cm-results-rows {
  /*overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 600px;*/
  padding: 0px 20px 40px 20px;
}
.cm-results-rows .match {
  font-weight: bold;
  color: #336699;
}
.cm-document-result {
  margin-top: 5px;
}
.cm-document-result .textwindow {
  background-color: #ffff94;
  color: #555;
}
.cm-document-result .highlight {
  font-weight: bold;
  background-color: #bedfff;
  padding: 2px 8px;
  color: #222;
}
.cm-document-result .negative {
  background-color: #ffbfc9;
}
.cm-document-result .positive {
  background-color: #c0ff94;
}
.cm-results-hide-pannel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.cm-header-hide-pannel {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.uk-sticky-fixed .cm-header-hide-pannel.cm-header-shown {
  display: block;
}
.cm-save-profile-step {
  /*position: absolute;
  bottom: -60px;
  right: 0;*/
  line-height: 38px;
}
/* Custom Docs selection form
 ========================================================================== */
.cm-docs-selection-form {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1020;
  box-sizing: border-box;
  min-width: 500px;
  padding: 35px;
  background: #fff;
  color: #767779;
  border-radius: 2px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.07);
}
.cm-docs-selection-form-dialog {
  min-width: 700px;
}
.cm-doc-selected, .cm-doc-selected:hover, .cm-doc-selected:focus {
  cursor: default;
  position: relative;
  padding: 0px 35px 0px 25px;
  color: var(--cm-theme-1) !important;;
  background-color: transparent !important;
  border: 2px solid var(--cm-theme-7);
  margin: -2px 0px 0px 0px;
  border-radius: 2px;
}
.cm-doc-selected span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: var(--cm-theme-7);
  color: var(--cm-theme-12);
  border-radius: 15px 0px 0px 0px;
  padding: 3px 0px 0px 4px;
}
.cm-slidenav, .cm-slidenav:hover {
  color: #5a5a5a;
  background-color: #ffffff8f;
}
.cm-slidenav-left {
  border-radius: 0px 25px 25px 0px;
  padding: 8px 8px 8px 4px;
  /*margin-left: 0px;*/
}
.cm-slidenav-right {
  border-radius: 25px 0px 0px 25px;
  padding: 8px 4px 8px 8px;
  margin-right: 0px;
}
/* Custom labels
 ========================================================================== */
.cm-label {
  display: inline-block;
  padding: 1px 7px;
  background: var(--cm-theme-3);
  line-height: 1.625;
  font-size: 12px;
  color: var(--cm-theme-12);
  vertical-align: middle;
  white-space: nowrap;
  font-family: Roboto;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 5px;
}
.cm-label-docs {
  background: var(--cm-theme-7);
}
/* Custom text
 ========================================================================== */
.cm-text-muted {
  color: var(--cm-theme-3) !important;
}
.cm-coloured-text {
  color: var(--cm-theme-2);
}
.cm-coloured-text-meta {
  color: var(--cm-theme-3);
}

#parent {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
  margin-bottom: 64px;
}
#child1 {
  -webkit-flex: 0.35;
  flex: 0.35;
  will-change: min-height;
}
#child1.is-affixed {
  padding-top: 0px;
}
#child1-inner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
  padding-bottom: 20px;
  /*border: 1px solid #f7c800;*/
  padding-left: 20px;
  min-height: 745px;
}
#child2 {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  right: 0;
  padding-top: 10px;
}
