/* COLOR PALETTE */
:root {
  --cm-theme-1: #333333;
  --cm-theme-2: #5B5B5B;
  --cm-theme-3: #999999;
  --cm-theme-4: #CBCBCB;
  --cm-theme-5: #0093CC;
  --cm-theme-6: #00A0DE;
  --cm-theme-7: #7AC2DE;
  --cm-theme-8: #FFDC59;
  --cm-theme-9: #FFE480;
  --cm-theme-10: #FFF7D9;
  --cm-theme-11: #FFFAE6;
  --cm-theme-12: #FFFFFF;
}
