
.extra {

   text-decoration:none;
}

 a span.extra {display: none; 
   text-decoration:none;
   
}


 a:hover span.extra {
   text-decoration:none;
   display: block;
   width:130px;
   position: absolute;
   padding: 5px; 
   /*margin: 5px; */
   z-index: 10000;
   color: #000000;
   background: white;
   font: 10px Verdana, sans-serif; 
   left:10px;
   top:15px
 }



 #term-vis {
     padding:50px;
margin-left:auto;
margin-right:auto;
width:70%;
border:1px solid rgb(204, 204, 204);
text-align:center;
 }