<!DOCTYPE html>
<html lang="en-gb" dir="ltr" vocab="http://schema.org/">
<head>
  <!--link href="http://demo.openaire.eu" rel="canonical" /-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="open access, interactive mining">

  <link href="{{ static_url("favicon.ico") }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
  
  <link rel="stylesheet" href="{{ static_url("dl119_files/theme.css") }}">
  <link rel="stylesheet" href="{{ static_url("dl119_files/custom.css") }}">
  <link rel="stylesheet" href="{{ static_url("custom.css") }}">
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="{{ static_url("ResizeSensor.js") }}" type="text/javascript"></script>
  <script src="{{ static_url("jquery.sticky-sidebar.js") }}" type="text/javascript"></script>
  <script src="{{ static_url("dl119_files/uikit.js") }}"></script>
  <script src="{{ static_url("dl119_files/uikit-icons-max.js") }}"></script>
         <!-- Google sitename markup-->
  <script type="application/ld+json">
     {
       "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "OpenAIRE",
         "url" : "http://demo.openaire.eu"
     }
  </script>
  <!-- End of Google sitename markup-->
  <!-- Google sitelinks search markup-->
  <script type="application/ld+json">
     {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url" : "http://demo.openaire.eu",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "http://demo.openaire.eu/search/find/?keyword={search_term_string}",
         "query-input": "required name=search_term_string"
       }
     }
  </script>

  <script src="//cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>
  <!--script type='text/javascript' src="node_modules/clipboard/dist/clipboard.min.js"></script-->
  <!--script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script-->

  <!--script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net//static/embed.js'></script-->

  <!-- End of Google sitelinks search markup-->
  {% block jsimports %}{% end %}
  {% block loadfun %}
    <script type="text/javascript">

    function httpGet(theUrl){
        var xmlHttp = null;

        xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false );
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
        
    function load(){
    }
    </script>
  {% end %}
</head>
<body onload="load()" class="" cz-shortcut-listen="true" style="">
   <div class="uk-offcanvas-content uk-height-viewport">
      <app _nghost-dc20-1="">
        <navbar _ngcontent-dc20-1="">
          <div class="tm-header-mobile uk-hidden@m">
             <nav class="uk-navbar-container uk-navbar" uk-navbar="">
                <div class="uk-navbar-left">
                   <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle="">
                      <div class="uk-navbar-toggle-icon uk-icon custom-navbar-toggle-icon" uk-navbar-toggle-icon=""> <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" icon="navbar-toggle-icon" ratio="1"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></div>
                   </a>
                </div>
                <div class="uk-navbar-center">
                  <a class="uk-logo uk-navbar-item" routerlink="/search/find" routerlinkactive="router-link-active" href="/search/find">
                    <img alt="OpenAIRE" class="uk-responsive-height" src="/static/OA CONNECT_B.png">
                  </a>
                </div>
                <div class="uk-navbar-right">
                   <user-mini>

                <!--template bindings={}--><div class=" custom-user-mini-panel uk-margin-top uk-margin-right uk-float-right">
                <!--template bindings={}-->
                <!--template bindings={}--><a class="loginLink">Sign in</a>
                </div>

            </user-mini>
                </div>
             </nav>
             <div class="uk-offcanvas" id="tm-mobile" mode="slide" overlay="" uk-offcanvas="">
                <div class="uk-offcanvas-bar">
                   <button class="uk-offcanvas-close uk-close uk-icon" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" icon="close-icon" ratio="1"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
                   
                </div>
             </div>
          </div>
          <div class="tm-toolbar custom-connect-toolbar uk-visible@m">
             <div class="uk-container uk-flex uk-flex-middle uk-container-expand">
                <div class="uk-margin-auto-left">
                   <div class="uk-grid-medium uk-child-width-auto uk-flex-middle uk-grid uk-grid-stack" uk-grid="margin: uk-margin-small-top">
                      <div class="uk-first-column">
                         <div class="uk-panel inner" id="module-119">
                            <ul class="uk-subnav uk-subnav-line">
                               <li class="uk-active"><a href="http://dl119.madgik.di.uoa.gr/"><img alt="home" class="uk-responsive-height" src="/static/dl119_files/Home-icon.png"></a></li>
                               <li><a href="#">Discover/Share</a></li>
                               <li><a href="#">Join</a></li>
                               <li class="custom-connect-li"><a class="router-link-active" href="#">Connect</a></li>
                               <li><a href="#">Monitor_</a></li>
                               <li><a href="#">Develop</a></li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="tm-header uk-visible@m tm-header-transparent" uk-header="">
             <div animation="uk-animation-slide-top" class="uk-navbar-container  uk-navbar-transparent uk-light" cls-active="uk-active uk-navbar-sticky" cls-inactive="uk-navbar-transparent uk-light" media="768" style="" top=".tm-header + [class*=&quot;uk-section&quot;]" >
                <div class="uk-container uk-container-expand">
                   <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
                      <div class="uk-navbar-left  uk-visible@l  ">
                         <a class="uk-logo uk-navbar-item router-link-active" routerlink="/search/find" routerlinkactive="router-link-active" href="/search/find">
                         <img alt="OpenAIRE" class="uk-responsive-height" src="/static/OA CONNECT_B.png"></a>
                      </div>
                      <div class="uk-navbar-left  uk-visible@m uk-hidden@l">
                         <a class="uk-logo uk-navbar-item router-link-active" routerlink="/search/find" routerlinkactive="router-link-active" href="/search/find">
                         <img alt="OpenAIRE" class="uk-responsive-height" src="/static/OA CONNECT_A.png"></a>
                      </div>
                      <div class="uk-navbar-right">
                         <user-mini>

                <!--template bindings={}--><div class=" custom-user-mini-panel uk-margin-top uk-margin-right uk-float-right">
                <!--template bindings={}-->
                <!--template bindings={}--><a class="loginLink">Sign in</a>
                </div>

            </user-mini>
                      </div>
                   </nav>
                </div>
             </div><div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" hidden="hidden"></div>
             <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
             <div class="uk-sticky-placeholder" style="height: 84px; margin: 0px;" hidden="hidden"></div>
          </div>
          <div class="first_page_section uk-section-default uk-section uk-padding-remove-vertical">
             <div class="first_page_banner_headline uk-grid-collapse uk-flex-middle uk-margin-remove-vertical uk-grid uk-grid-stack" uk-grid="">
             </div>
          </div>
          <div></div>
        </navbar>

        <div _ngcontent-dc20-1="" class=" uk-section uk-margin-large-top tm-middle custom-main-content" id="tm-main">
          <!-- <div _ngcontent-dc20-1="" class="uk-container uk-container-expand">
            <div _ngcontent-dc20-1="" uk-grid="">
              <div _ngcontent-dc20-1="" class="tm-main uk-width-1-1@s uk-width-1-1@m  uk-width-1-1@l uk-row-first "> -->
                <main _ngcontent-dc20-1="">
                  {% block content %}{% end %}
                </main>
              <!-- </div>
            </div>
          </div> -->
        </div>

        <cookie-law _ngcontent-dc20-1="" position="bottom" _nghost-dc20-4="" seen="true">
          <!--template bindings={}--><div _ngcontent-9e3d-4="" class="cookie-law-wrapper" style="transform: translateY(100%);">

            <div _ngcontent-9e3d-4="" class="copy">
              <span _ngcontent-9e3d-4="">
                    OpenAIRE uses cookies in order to function properly.<br _ngcontent-9e3d-1="">
                    Cookies are small pieces of data that websites store in your browser to allow us to give you the best browsing experience possible.
                    By using the OpenAIRE portal you accept our use of cookies. <a _ngcontent-9e3d-1="" href="//ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" target="_blank"> Read more <span _ngcontent-9e3d-1="" uk-icon="icon: chevron-right" class="uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" icon="chevron-right" ratio="1"><polyline fill="none" stroke="#000" stroke-width="1.03" points="7 4 13 10 7 16"></polyline></svg></span></a>
                    </span>

            <!--template bindings={}-->

            <a _ngcontent-9e3d-4="" class="dismiss" href="#" role="button"><span _ngcontent-9e3d-4="" class="uk-icon" uk-icon="icon: close"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" icon="close" ratio="1"><path fill="none" stroke="#000" stroke-width="1.06" d="M16,16 L4,4"></path><path fill="none" stroke="#000" stroke-width="1.06" d="M16,4 L4,16"></path></svg></span></a>
          </div>
          </div>
        </cookie-law>
        <bottom _ngcontent-dc20-1="">
          <div class="custom-footer">
            <div class="uk-section-primary uk-section uk-section-small uk-padding-remove-bottom">
              <div class="uk-container">
                 <div class="uk-grid-margin uk-grid" uk-grid="">
                    <div class="uk-width-expand@m uk-light uk-first-column">
                       <div class="uk-margin">
                          <div uk-grid="" class="uk-child-width-auto uk-grid-small uk-grid">
                             
                             <div class="uk-first-column">
                                <a class="el-link uk-icon-link uk-icon" href="http://www.facebook.com/groups/openaire/" target="_blank" uk-icon="icon: facebook"></a>
                             </div><div>
                                <a class="el-link uk-icon-link uk-icon" href="http://www.twitter.com/OpenAIRE_eu" target="_blank" uk-icon="icon: twitter"></a>
                             </div>
                             <div>
                                <a class="el-link uk-icon-link uk-icon" href="http://www.linkedin.com/groups/OpenAIRE-3893548" target="_blank" uk-icon="icon: linkedin"></a>
                             </div>
                             <div>
                                <a class="el-link uk-icon-link uk-icon" href="http://www.slideshare.net/OpenAIRE_eu" target="_blank" uk-icon="icon: social"></a>
                             </div>
                             <div>
                                <a class="el-link uk-icon-link uk-icon" href="http://vimeo.com/openaire" target="_blank" uk-icon="icon: vimeo"></a>
                             </div>
                          </div>
                       </div>
                       <div class="uk-margin uk-margin-remove-top uk-margin-remove-bottom uk-text-left">
                          <img alt="European Commission" class="el-image" src="/static/dl119_files/ec_logo_inv_small.png">
                       </div>
                    </div>
                    <div class="uk-width-expand@m uk-light">
                       <div>
                          <ul class="uk-subnav uk-margin-remove-bottom uk-subnav-divider" uk-margin="">
                             <li class="el-item uk-first-column">
                                <a class="el-link" href="http://dl119.madgik.di.uoa.gr/www.cnn.com">About</a>
                             </li>
                             <li class="el-item">
                                <a class="el-content uk-disabled">Services</a>
                             </li>
                             <li class="el-item">
                                <a class="el-content uk-disabled">News</a>
                             </li>
                             <li class="el-item">
                                <a class="el-content uk-disabled">Events</a>
                             </li>
                             <li class="el-item">
                                <a class="el-content uk-disabled">Blog</a>
                             </li>
                             <li class="el-item">
                                <a class="el-content uk-disabled">Contact us</a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
            <div class="uk-section-primary uk-section uk-section-small">
              <div class="uk-container">
                 <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-1@m uk-first-column">
                       <div class="uk-margin uk-margin-remove-top uk-margin-remove-bottom uk-text-center">
                          <img alt="OpenAIRE" class="el-image" src="/static/dl119_files/Logo_Horizontal_white_small.png">
                       </div>
                       <div class="footer-license uk-margin uk-margin-remove-bottom uk-text-center uk-text-lead">
                          <div><a href="http://creativecommons.org/licenses/by/4.0/" rel="license"><img alt="Creative" src="/static/dl119_files/80x15.png" style="height: auto; max-width: 100%; vertical-align: middle;"></a>&nbsp;UNLESS OTHERWISE INDICATED, ALL MATERIALS CREATED BY THE OPENAIRE CONSORTIUM ARE LICENSED UNDER A&nbsp;<a href="http://creativecommons.org/licenses/by/4.0/" rel="license">CREATIVE COMMONS ATTRIBUTION 4.0 INTERNATIONAL LICENSE</a>.</div>
                          <div>OPENAIRE IS POWERED BY&nbsp;<a href="http://www.d-net.research-infrastructures.eu/">D-NET</a>.</div>
                       </div>
                       <div class="uk-margin uk-margin-remove-top uk-margin-remove-bottom uk-text-right">
                          <a class="uk-totop uk-icon" href="#" uk-scroll="" uk-totop=""><svg width="15" height="20" viewBox="0 0 15 20" xmlns="http://www.w3.org/2000/svg" icon="totop" ratio="1"><polyline fill="none" stroke="#0000" stroke-width="1.1" points="1,8 7.5,1.5 14,8 "></polyline><rect fill="000" x="7" y="2" width="1" height="20"></rect></svg></a>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </bottom>

      </app>
    </div>

    <script type="text/javascript">
      function loadAltmetrics(e,t,n){
        var d="createElement",c="getElementsByTagName",m="setAttribute",n=document.getElementById(e);
        return n&&n.parentNode&&n.parentNode.removeChild(n),n=document[d+"NS"]&&document.documentElement.namespaceURI,n=n?document[d+"NS"](n,"script"):document[d]("script"),n[m]("id",e),n[m]("src",t),(document[c]("head")[0]||document[c]("body")[0]).appendChild(n),n=new Image,void n[m]("src","https://d1uo4w7k31k5mn.cloudfront.net/donut/0.png")
    };
    </script>

</body>
</html>