{% extends "base_v2.html" %}
{% block create_upload %} class="current" {% end %}
{% block content %}
<title>Profile create</title>


<div class="test-upload uk-button uk-button-default uk-width-1-1 uk-button-large uk-text-center">
    <span class="uk-text-middle">Create a new mining profile</span>
</div>
<div class="uk-heading-line uk-text-center uk-margin-small-top uk-margin-small-bottom"><span>or</span></div>
<div class="test-upload uk-button uk-button-link uk-width-1-1 uk-text-center">
    <span class="uk-text-middle">UPLOAD your existing profile to edit</span>
</div>

{% end %}