{% extends "base_v2.html" %}
{% block save_profile %} class="current" {% end %}
{% block content %}
<title>Save profile</title>

<button class="uk-close-large" type="button" uk-close></button>
<div class="uk-container tm-toolbar custom-discover-toolbar uk-visible@m uk-container-small">
    <div class="uk-flex uk-flex-middle">
        <div class="uk-margin-auto-right">
            <div class="uk-grid-medium uk-child-width-auto uk-flex-middle uk-grid uk-grid-stack" uk-grid="margin: uk-margin-small-top">
                <div class="uk-first-column">
                    <ul class="uk-subnav uk-subnav-line">
                        <li><a href="#">Upload your project codes</a></li>
                        <li><a href="#">Configure the matching proccess</a></li>
                        <li class="custom-discover-li"><a class="router-link-active" href="#">Save matching profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">

		<div class="test-upload uk-button uk-button-default uk-width-1-1 uk-button-large uk-text-center">
		    <span uk-icon="icon: download"></span>
		    <span class="uk-text-middle">Download profile</span>
		</div>
		<div class="uk-heading-line uk-text-center uk-margin-small-top uk-margin-small-bottom"><span>or</span></div>
		<div class="test-upload uk-button uk-button-link uk-width-1-1 uk-text-center">
		    <span class="uk-text-middle">LOGIN to save your profile</span>
		</div>
	</div>
</div>

{% end %}