{% extends "base_v2.html" %}
{% block save_profile %} class="current" {% end %}
{% block content %}
<title>Save profile</title>

<div class="uk-flex-inline cm-nav-container">
    <div class="cm-left-box"><a href="/"><button id="cancel-main-btn" class="uk-close-large cm-close-btn" type="button" uk-close></button></a></div>
    <div class="cm-navigation cm-nav-toolbar">
        <ul class="uk-subnav uk-subnav-line">
            <li class="cm-nav-li">
                <a class="cm-nav-a" href="upload-codes">
                    <div class="cm-nav-number-container"><span class="cm-nav-number uk-text-middle">1</span></div>
                    <span class="cm-nav-title uk-text-middle">Matching context<br>definition</span>
                </a>
            </li>
            <li class="cm-nav-li">
                <a class="cm-nav-a" href="configure-profile">
                    <div class="cm-nav-number-container"><span class="cm-nav-number uk-text-middle">2</span></div>
                    <span class="cm-nav-title uk-text-middle">Matching proccess<br>configuration</span>
                </a>
            </li>
            <li class="cm-nav-li cm-nav-active">
                <a class="cm-nav-a">
                    <div class="cm-nav-number-container"><span class="cm-nav-number uk-text-middle">3</span></div>
                    <span class="cm-nav-title uk-text-middle">Save your<br>matching profile</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">

		<a class="test-upload uk-button uk-button-default uk-width-1-1 uk-button-large uk-text-center cm-main-button" href="save-profile?saveprofile=1">
		    <span uk-icon="icon: download"></span>
		    <span class="uk-text-middle">Download profile</span>
		</a>
		<div class="uk-heading-line uk-text-center uk-margin-small-top uk-margin-small-bottom"><span>or</span></div>
		<div class="test-upload uk-button uk-button-link uk-width-1-1 uk-text-center">
		    <span class="uk-text-middle">LOGIN to save your profile</span>
		</div>
	</div>
</div>

<script src="/static/save-profile.js" type="text/javascript"></script>
{% end %}