<div id="parent">
  <app-settings  id="child1" class="cm-config-settings-section"></app-settings>
  <app-resultspreview id="child2"></app-resultspreview>
  <div style="clear: both;"></div>
</div>

<div id="wait-spinner-modal-center" class="uk-flex-top" esc-close="false" bg-close="false" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <p class="uk-text-center uk-text-middle uk-text-large">Working on it, please wait... <span uk-spinner></span></p>
  </div>
</div>
