@import "http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css";



/*GENERAL*/

h4 {
  font-weight: normal;
  margin: 20px 4px 0px;
}

.file-upload-wrapper,
.list-wrapper,
.filters-wrapper {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.file-upload-wrapper {
  /*float: left;*/
  max-width: 850px;
  min-width: 500px;
}

.list-wrapper {
  float: left;
  width: 400px;
}

.filters-wrapper {
  max-width: 850px;
  min-width: 500px;
}

.textarea {
  width: 858px;
  max-width: 98%;
  max-height: 1024px;
  height: 112px;
  display: block;
  background-color: #e8f8d4;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.1s, box-shadow linear 0.1s;
  -moz-transition: border linear 0.1s, box-shadow linear 0.1s;
  -o-transition: border linear 0.1s, box-shadow linear 0.1s;
  transition: border linear 0.1s, box-shadow linear 0.1s;
  padding: 4px 6px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

.textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


/*FILE INPUT*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile {
  box-sizing: border-box;
}

.inputfile + label {
    display: inline-table;
    border-radius: 2px;
    width: 70.5%;
    /* 20px */
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    /* 10px 20px */
    color: #444;
    border: 1px solid #c8c6c6;
    background-color: #fff;
    padding: 0;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    border-color: #9095A2;
}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.3rem 0.6rem;
    /* 10px 20px */
}

.inputfile + label span {
    width: 200px;
    /*min-height: 2em;*/
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color: #e5e9f1;
    background-color: #5882fa;
    display: inline-block;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
    background-color: #476DDA;
}


/*LISTS*/

li [class^=icon-],li [class*=" icon-"] {
  width: 40px !important;
  height: 25px !important;
  font-size: 22px;
  display: block !important;
  position: absolute !important;
  float: none !important;
}

header, footer {
    width: 100%;
    position: relative;
    padding: 5px 5px;
}

header .scroll_holder {
  float: right;
  visibility: hidden;
}

header .scroller {
  overflow-y: scroll;
  height: 1px;
}

header .word-form input[type='text'] {
  width: 45%;
  height: 24px;
}
header .word-form input[type='number'] {
  width: 27%;
  height: 24px;
}

header .word-form input[type='submit'] {
  width: 18%;
}

footer button {
  float: right;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

:-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

:-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

.page-header {
  width: 100%;
  color: #fff;
  padding: 5px 30px;
  font: normal 18px/1.5 Lato,Arial,sans-serif;
  overflow: hidden;
}

.page-header a {
  color: inherit;
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text']:focus {
  outline: none;
}

.icon-trash,.icon-pencil,.icon-save {
  position: absolute;
  top: 3px;
  color: #aaa;
  cursor: pointer;
  right: 52px;
}

.icon-trash {
  right: 10px;
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 3;
  padding: 5px 10px;
  color: #fff;
  display: none;
  box-shadow: 0 4px 0 -2px rgba(0,0,0,0.1);
}

.undo-button {
  background-color: orange;
  cursor: pointer;
  margin-left: -100px;
}

.save-notification {
  background-color: #2ecc71;
  margin-left: -50px;
}

button.disabled .icon-trash,.clear-all.disabled .icon-trash {
  color: #888;
}

button .icon-trash {
  float: none;
  margin-right: 10px;
  opacity: 1 !important;
  position: static;
}

.count {
  float: left;
}

#count-pos.count:after {
  content: " positive word(s)";
}
#count-neg.count:after {
  content: " negative word(s)";
}

.words {
  list-style-type: none;
  max-width: 500px;
  width: 100%;
  background-color: #EFEFEF;
  padding: 2px 5px;
  height: 162px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  position: relative;
}

.words li {
  z-index: 1;
  font-weight: 400;
/*box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);*/
  color: #666;
  text-align: left;
  line-height: 31px;
  /*background-color: #fff;*/
  margin-bottom: 2px;
  /*padding: 0px 65px 0px 7px;*/
  position: relative;
  opacity: 0;
  word-wrap: break-word;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.words li:focus {
  outline: none;
}

li[contenteditable='true'] {
  color: #000;
}

.words li .phrase {
  width: 47%;
  display: inline-block;
  background-color: #fff;
  margin-right: 8px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.words li .weight {
  width: 29%;
  display: inline-block;
  background-color: #fff;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.words li .phrase:hover, .words li .weight:hover {
  background-color: #fefefe;
  border: 1px solid #999;
}





/*ANIMATIONS*/
li.new-item {
  opacity:0;
  -webkit-animation:fadeIn .1s linear forwards;
  -o-animation:fadeIn .1s linear forwards;
  animation:fadeIn .1s linear forwards
}
@keyframes fadeIn {
  to {
    opacity:1
  }
}

@keyframes openspace {
  to {
    height: auto
  }
}

li.removed-item {
  -webkit-animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards;
  -o-animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards;
  animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes new-item-animation {
  from {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes openspace {
  to {
    height: auto
  }
}

@-o-keyframes openspace {
  to {
    height: auto
  }
}

@-webkit-keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
}

@-o-keyframes removed-item-animation {
  from {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }

  to {
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
}
