@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Roboto|Roboto:900|Roboto+Condensed|Roboto+Mono|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.hero_to_top  {
}
.image-front-topbar {
	margin-top:-40px;
}
.tm-header {
/*padding-top:40px;*/
}


.tm-toolbar {
border-top: 5px solid #05007A;
position:relative;
color: #fff;
padding-top: 0px;
padding-bottom:0px;
background:rgba(255,255,255, 0.0);
/*background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(/images/toolbar_bg.png);*/

}
.tm-toolbar .forimage {
background:rgba(255,255,255, 0.4);
}

.uk-section-overlap {
	/*margin-top:-40px!important;*/
}
.uk-sticky{
}

.tm-header .uk-navbar-left {position:relative;z-index:9999!important;}
.tm-header .uk-logo {padding: 5px 10px 10px 10px; position:relative;z-index:1000!important;}
.tm-header .uk-navbar-transparent{
  /* background:rgba(255,255,255, 0.7);*/
  padding-top:4px;
}
.inner {
 left:0px;
 background-color: #05007A;
}
.tm-toolbar .uk-container {
padding-right:0px;

}

.tm-toolbar ul.uk-subnav.uk-subnav-line{
  background-color: #05007A;
  padding-top:0px;
  transform: skew(25deg);  
  padding-right:10px;
  margin-right:10px;
  padding-left:0px;
}

.tm-toolbar .uk-subnav-line li {
  padding:5px 25px 5px 25px;
  /*transition: background 0.2s;*/
  /*  display:inline-block;*/
  font-family:Roboto!important;
  font-weight:900!important;
  text-transform:uppercase!important;
  font-size:12px!important;
  opacity:1!important;
  display:inline-block;
}
.tm-toolbar .uk-subnav-line > :before {
    content: none;
    display: block;
    /* display: inline-block*/
    height: 10px;
    vertical-align: middle
}

.uk-subnav-line > :nth-child(n + 2):before {
    margin-right: 10px;
    border-left: 0px ;
}

.tm-toolbar .uk-subnav-line li  a{
  display: block;
  text-decoration:none;
  transform: skew(-25deg); 
  font-family:Roboto:900!important;
  text-transform:uppercase!important;
  font-size:13px!important;
  opacity:1!important;
  color:#fff!important;
 
}
.tm-toolbar .uk-subnav-line li:hover {
  color:#05007A!important;
  background:#fff;
  display: block;
}



.tm-toolbar .uk-subnav-line li a:hover, 
.tm-toolbar .uk-subnav-line li:hover a{
  display: block;
  color:#05007A!important;
}

.tm-toolbar  .uk-dotnav, .tm-toolbar .uk-subnav {
  margin-bottom:0px!important;
}

.movetotop .uk-slidenav-position{
  /*top:-130px;
  z-index:5;*/
}
.uk-navbar-container:not(.uk-navbar-transparent) {
	background: #fff;
	box-shadow: 2px 15px 50px rgba(41, 44, 61, .1);

}
.uk-navbar-sticky {
    box-shadow: 2px 15px 50px rgba(41, 44, 61, .1);
}

.navbar .nav>li>.dropdown-menu, .uk-navbar-dropdown
{display: none;
position: absolute;
z-index: 1020;
box-sizing: border-box;
width: 200px;
padding: 25px;
background: #fff;
color: #4F5260;
border-radius: 2px;
box-shadow: 2px 15px 50px rgba(41, 44, 61, .1)
}

.uk-navbar-container:not(.uk-navbar-transparent) a, .uk-navbar-container:not(.uk-navbar-transparent) .uk-link, 
.uk-offcanvas-bar a, .uk-offcanvas-bar .uk-link, .tm-toolbar a, .tm-toolbar .uk-link {
color:#292C3D;
color: #245BCC;
font-size: 14px;
line-height: 18px;
}
a:hover, .uk-link:hover{
color: #D53B23;
}

.uk-light .uk-navbar-nav>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-overlay-primary .uk-navbar-nav>li>a, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a, .uk-offcanvas-bar .uk-navbar-nav>li>a, .tm-toolbar .uk-navbar-nav>li>a {
color:#292C3D;}

.uk-light .uk-navbar-nav>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-overlay-primary .uk-navbar-nav>li.uk-active>a, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a, .uk-offcanvas-bar .uk-navbar-nav>li.uk-active>a, .tm-toolbar .uk-navbar-nav>li.uk-active>a
color:#292C3D;}

.uk-light .uk-navbar-nav>li>a::before, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a::before, 
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a::before, 
.uk-card-primary.uk-card-body .uk-navbar-nav>li>a::before, 
.uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a::before, .
uk-card-secondary.uk-card-body .uk-navbar-nav>li>a::before, 
.uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a::before, 
.uk-overlay-primary .uk-navbar-nav>li>a::before, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a::before, 
.uk-offcanvas-bar .uk-navbar-nav>li>a::before, .tm-toolbar .uk-navbar-nav>li>a::before {

background-color: #128DD5;
}
.uk-navbar-nav>li>a::before {
/*height:2px;*/
background-color: #128DD5!important;
}
.uk-light .uk-navbar-nav>li:hover>a, .uk-light .uk-navbar-nav>li>a:focus, .uk-light .uk-navbar-nav>li>a.uk-open, 
.uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li:hover>a, 
.uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a:focus, 
.uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a.uk-open, 
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li:hover>a, 
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a:focus, 
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a.uk-open, 
.uk-card-primary.uk-card-body .uk-navbar-nav>li:hover>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a:focus, 
.uk-card-primary.uk-card-body .uk-navbar-nav>li>a.uk-open, 
.uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li:hover>a, 
.uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a:focus, 
.uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a.uk-open, 
.uk-card-secondary.uk-card-body .uk-navbar-nav>li:hover>a, 
.uk-card-secondary.uk-card-body .uk-navbar-nav>li>a:focus, 
.uk-card-secondary.uk-card-body .uk-navbar-nav>li>a.uk-open, 
.uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li:hover>a, 
.uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a:focus, 
.uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a.uk-open, 
.uk-overlay-primary .uk-navbar-nav>li:hover>a, .uk-overlay-primary .uk-navbar-nav>li>a:focus, 
.uk-overlay-primary .uk-navbar-nav>li>a.uk-open, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li:hover>a, 
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a:focus, 
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a.uk-open, 
.uk-offcanvas-bar .uk-navbar-nav>li:hover>a, .uk-offcanvas-bar .uk-navbar-nav>li>a:focus, 
.uk-offcanvas-bar .uk-navbar-nav>li>a.uk-open, .tm-toolbar .uk-navbar-nav>li:hover>a, 
.tm-toolbar .uk-navbar-nav>li>a:focus, .tm-toolbar .uk-navbar-nav>li>a.uk-open {
color: #128DD5;
}

.uk-light .uk-navbar-nav > li:hover > a, .uk-light .uk-navbar-nav > li > a:focus,
.uk-light .uk-navbar-nav > li > a.uk-open, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav > li:hover > a,
.uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav > li > a:focus,
.uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav > li > a.uk-open,
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav > li:hover > a,
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav > li > a:focus,
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav > li > a.uk-open,
.uk-card-primary.uk-card-body .uk-navbar-nav > li:hover > a, .uk-card-primary.uk-card-body .uk-navbar-nav > li > a:focus,
.uk-card-primary.uk-card-body .uk-navbar-nav > li > a.uk-open, .uk-card-primary > :not([class * ='uk-card-media']) .uk-navbar-nav > li:hover > a,
.uk-card-primary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a:focus,
.uk-card-primary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a.uk-open,
.uk-card-secondary.uk-card-body .uk-navbar-nav > li:hover > a, .uk-card-secondary.uk-card-body .uk-navbar-nav > li > a:focus,
.uk-card-secondary.uk-card-body .uk-navbar-nav > li > a.uk-open, .uk-card-secondary > :not([class * ='uk-card-media']) .uk-navbar-nav > li:hover > a,
.uk-card-secondary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a:focus,
.uk-card-secondary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a.uk-open,
.uk-overlay-primary .uk-navbar-nav > li:hover > a, .uk-overlay-primary .uk-navbar-nav > li > a:focus,
.uk-overlay-primary .uk-navbar-nav > li > a.uk-open, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li:hover > a,
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li > a:focus,
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li > a.uk-open,
.uk-offcanvas-bar .uk-navbar-nav > li:hover > a, .uk-offcanvas-bar .uk-navbar-nav > li > a:focus,
.uk-offcanvas-bar .uk-navbar-nav > li > a.uk-open, .tm-toolbar .uk-navbar-nav > li:hover > a,
.tm-toolbar .uk-navbar-nav > li > a:focus, .tm-toolbar .uk-navbar-nav > li > a.uk-open {
    color: #128DD5!important;
}
.uk-light .uk-navbar-nav>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-overlay-primary .uk-navbar-nav>li.uk-active>a, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a, .uk-offcanvas-bar .uk-navbar-nav>li.uk-active>a, .tm-toolbar .uk-navbar-nav>li.uk-active>a {
   color: #128DD5!important;
}
.uk-light a:hover, .uk-light .uk-link:hover, .uk-section-primary:not(.uk-preserve-color) a:hover, .uk-section-primary:not(.uk-preserve-color) .uk-link:hover, .uk-section-secondary:not(.uk-preserve-color) a:hover, .uk-section-secondary:not(.uk-preserve-color) .uk-link:hover, .uk-card-primary.uk-card-body a:hover, .uk-card-primary.uk-card-body .uk-link:hover, .uk-card-primary>:not([class*='uk-card-media']) a:hover, .uk-card-primary>:not([class*='uk-card-media']) .uk-link:hover, .uk-card-secondary.uk-card-body a:hover, .uk-card-secondary.uk-card-body .uk-link:hover, .uk-card-secondary>:not([class*='uk-card-media']) a:hover, .uk-card-secondary>:not([class*='uk-card-media']) .uk-link:hover, .uk-overlay-primary a:hover, .uk-overlay-primary .uk-link:hover, .uk-navbar-container:not(.uk-navbar-transparent) a:hover, .uk-navbar-container:not(.uk-navbar-transparent) .uk-link:hover, .uk-offcanvas-bar a:hover, .uk-offcanvas-bar .uk-link:hover, .tm-toolbar a:hover, .tm-toolbar .uk-link:hover {
   color: #128DD5!important;
}

.uk-light .uk-navbar-nav > li > a:active, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav > li > a:active,
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav > li > a:active,
.uk-card-primary.uk-card-body .uk-navbar-nav > li > a:active, .uk-card-primary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a:active,
.uk-card-secondary.uk-card-body .uk-navbar-nav > li > a:active, .uk-card-secondary > :not([class * ='uk-card-media']) .uk-navbar-nav > li > a:active,
.uk-overlay-primary .uk-navbar-nav > li > a:active, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li > a:active,
.uk-offcanvas-bar .uk-navbar-nav > li > a:active, .tm-toolbar .uk-navbar-nav > li > a:active {
    color: #292C3D!important;
}

.uk-light .uk-navbar-nav > li.uk-active > a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav > li.uk-active > a,
.uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav > li.uk-active > a,
.uk-card-primary.uk-card-body .uk-navbar-nav > li.uk-active > a, .uk-card-primary > :not([class * ='uk-card-media']) .uk-navbar-nav > li.uk-active > a,
.uk-card-secondary.uk-card-body .uk-navbar-nav > li.uk-active > a,
.uk-card-secondary > :not([class * ='uk-card-media']) .uk-navbar-nav > li.uk-active > a,
.uk-overlay-primary .uk-navbar-nav > li.uk-active > a, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav > li.uk-active > a,
.uk-offcanvas-bar .uk-navbar-nav > li.uk-active > a, .tm-toolbar .uk-navbar-nav > li.uk-active > a {
    color: #292C3D!important;
}
.uk-light .uk-navbar-nav>li>a:active, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a:active, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a:active, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a:active, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a:active, .uk-card-secondary.uk-card-body .uk-navbar-nav>li>a:active, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a:active, .uk-overlay-primary .uk-navbar-nav>li>a:active, .uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a:active, .uk-offcanvas-bar .uk-navbar-nav>li>a:active, .tm-toolbar .uk-navbar-nav>li>a:active {
color:#128DD5;
}

.uk-navbar-nav>li>a, .uk-navbar-item, .uk-navbar-toggle, .navbar .brand, .navbar-search, .navbar .nav>li>a {
	font-size: 14px;
	font-family: Roboto;
	font-weight: 300 !important
}

.uk-navbar-dropdown, .navbar .nav>li>.dropdown-menu {
	background:#fff;
}
.uk-navbar-dropdown-nav>li>a,
.uk-navbar-dropdown-nav .uk-nav-sub a {
	color:#292C3D;
	font-weight:300;
}
.uk-section-secondary:not(.uk-preserve-color) h3,
.uk-section-secondary:not(.uk-preserve-color) h3 a,
.uk-section-secondary:not(.uk-preserve-color) a:hover { color:#444!important;}


.uk-article-title {
font-size: 38px;
line-height: 1.1;
}

.uk-text-meta {
font-size: 14px;
line-height: 1.4;
color: #90929D;
font-family: PT Serif;
font-weight: 400;
text-transform: none;
letter-spacing: 0;
font-style: italic;
}
.uk-card-default .uk-card-title {
color: #292C3D !important;

}
.uk-light .uk-text-meta, .uk-section-primary:not(.uk-preserve-color) .uk-text-meta, .uk-section-secondary:not(.uk-preserve-color) .uk-text-meta, .uk-card-primary.uk-card-body .uk-text-meta, .uk-card-primary>:not([class*='uk-card-media']) .uk-text-meta, .uk-card-secondary.uk-card-body .uk-text-meta, .uk-card-secondary>:not([class*='uk-card-media']) .uk-text-meta, .uk-overlay-primary .uk-text-meta, .uk-navbar-container:not(.uk-navbar-transparent) .uk-text-meta, .uk-offcanvas-bar .uk-text-meta, .tm-toolbar .uk-text-meta{
color: #90929D;
}

.uk-text-primary {color: #040067!important;}
.uk-text-secondary {color: #00a0de!important;}
.uk-section-primary {
	background: #040067;
}
.uk-section-secondary {
	background: #00a0de;
}
.first_page_section {
    /*position: relative;*/
   
 }
.first_page_section .uk-container {
  /*max-width:100%!important;*/
  /*width:100%!important;
  padding:0px!important;*/
  /*position: absolute;
  bottom: 0;*/
}

.first_page_section .first_page_banner_headline {
  /*position: relative;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:#fff;
 
}
.first_page_panel h3.uk-h1 {
  color:#fff;
  
}
.first_page_panel {
  background-color:#05007A!important;
  border: 0px solid #e5e5e7!important;
 padding:20px 20px!important;
	/*width:100%!important;*/
  font-size:24pt!important;
  padding:20px!important;
  color:#fff;
}  
.first_page_panel .banner_text_bottom {
  font-size:20pt;
  padding:20px;

}

body {
  font-family: 'Open Sans', sans-serif!important;


}
h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
 font-family: 'Open Sans', sans-serif !important;
}
h2, .uk-h2 {
	font-size:36px;
}

.nspArt h4.nspHeader {
font-family: 'Open Sans', sans-serif !important;
font-weight: 400;
font-size: 16px;
margin: 0;
padding: 5px 0 5px 0;
}
.nspArt p, .nspArt ul, .nspArt ol, .nspArt dl, .nspArt pre, .nspArt address, .nspArt fieldset, .nspArt figure {
	    margin-top: 0px;
	    margin-bottom: 8px;
}
.nspArt p.nspText {margin-bottom:15px;}
.readon , .readon:link{
 margin: 0;
    border: 1px solid #eaeaea;

    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color, box-shadow;
    transition-property: color, background-color, border-color, box-shadow;
    font-family: Roboto;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
    color: #5b5b5b;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.07);
}

.readon:hover{
background-color: #fff;
color: #00a0de;
box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05);

}
.banner_text_white {font-weight: 300; font-size: 28px; color:white;}

/*footer*/
.footer-license {
font-size:11px!important;
line-height:16px!important;
}
.footer-license .uk-section-primary:not(.uk-preserve-color) a{
 color: #128DD5!important;
 font-size:11px!important;
line-height:16px!important;

}
.footer-license a:hover {
 color: #D33A24;
}

/*custom classes */
.partner_slider .wk-link-reset, .partner_slider .wk-link-reset a, .partner_slider .wk-link-reset a:focus, 
.partner_slider .wk-link-reset a:hover, .partner_slider .wk-link-reset:focus, .partner_slider .wk-link-reset:hover {
color: black;
}
.dark-divider hr, .dark-divider .uk-hr {
border-top: 1px solid #6c6c6c;


}

/*events*/
.calendar h3{text-transform:none; font-weight:300;}
.mod_events_latest_table td {
	padding-top:5px;
	padding-bottom:5px;
}
.mod_events_latest_table td p{
	margin-bottom:10px;
	margin-top:0px;
}

/*.mod_events_latest_table tr {
	background: url(../../../images/header_line.png) bottom left repeat-x;
}*/
.mod_events_latest_date { 
	width: 18%;
	float: left;
	position: relative;
	color:#757575;
	color:#fff;
	font-size:12px!important;
	background: #9c9c9c;
	font-weight:400;

	/*
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border: 1px solid #757575;
	-moz-box-shadow: 0px 0px 3px #757575;
	-webkit-box-shadow: 0px 0px 3px #757575;
	box-shadow: 0px 0px 3px #757575;
	*/
	margin-right:8px;
	margin-top:5px;
	text-align:center;
	padding:10px 0px;
	line-height:20px;
	
}
.mod_events_latest_date .larger_font {
	font-size:28px!important;
	font-weight:700!important;}
	
.mod_events_latest_time {
	//float: left;
	position: relative;
	width: 75%;
	overflow:visible;
	line-height:14px;
	font-weight:400;
	font-size:12px;
	padding: 5px 0px;
	margin-bottom: 8px;
	text-transform:none;
}
.mod_events_latest_time {
	font-size:12px;
}
.mod_events_latest_table td .content{
	font-size:12px!important;
	font-weight:300;
	text-transform:none;
}
.mod_events_latest_table td .hdr{
	font-size:14px!important;
	line-height: 16px;
	font-weight:400!important;
	text-transform:none;

}
.mod_events_latest_rsslink a {
color: #767779;

}
.mod_events_latest_rsslink{
padding: 30;
line-height: 1.625;
background: 0;
color: #767779;
position: relative;
padding-right: 27px;
margin: 0;
border: 0;
overflow: visible;
font: inherit;
display: block;
box-sizing: border-box;
vertical-align: middle;
font-size: 13px;
display:inline-block;

/*
text-align: center;
*/
text-decoration: none;
-webkit-transition: .1s ease-in-out;
transition: .1s ease-in-out;
-webkit-transition-property: color, background-color, border-color, box-shadow;
transition-property: color, background-color, border-color, box-shadow;
font-family: Roboto;
font-weight: normal;
text-transform: uppercase;
border-radius: 2px;
background-origin: border-box;
}
.mod_events_latest_rsslink a:hover {
color: #00a0de
}
.mod_events_latest_rsslink:hover::before {
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2223%22%20height%3D%2211%22%20viewBox%3D%220%200%2023%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300a0de%22%20points%3D%2217%201%2022%205.5%2017%2010%20%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%2300a0de%22%20x1%3D%220%22%20y1%3D%225.5%22%20x2%3D%2222.4%22%20y2%3D%225.5%22%3E%3C%2Fline%3E%0A%3C%2Fsvg%3E");
background-position: 100% 50%;

}
.mod_events_latest_rsslink::before{
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 0;
width: 22px;
background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2223%22%20height%3D%2211%22%20viewBox%3D%220%200%2023%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23767779%22%20points%3D%2217%201%2022%205.5%2017%2010%20%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23767779%22%20x1%3D%220%22%20y1%3D%225.5%22%20x2%3D%2222.4%22%20y2%3D%225.5%22%3E%3C%2Fline%3E%0A%3C%2Fsvg%3E");
background-repeat: no-repeat;
background-position: calc(100% - 5px) 50%;
-webkit-transition: background-position .2s ease-out;
transition: background-position .2s ease-out;
}
.mod_events_latest_callink a, .mod_events_latest_callink a:hover{
	color: #fff!important;
}
.mod_events_latest_callink {
padding:0px;
	margin:10px 0px;
	background-color: #00a0de;
	color: #fff!important;
	display: inline-block;
	box-sizing: border-box;
padding: 0 25px;
vertical-align: middle;
font-size: 13px;
line-height: 40px;
text-align: center;
text-decoration: none;
-webkit-transition: .1s ease-in-out;
transition: .1s ease-in-out;
-webkit-transition-property: color, background-color, border-color, box-shadow;
transition-property: color, background-color, border-color, box-shadow;
font-family: Roboto;
font-weight: normal;
text-transform: uppercase;
border-radius: 2px;
background-origin: border-box;
}

.mod_events_latest_callink:hover {
background-color: #008ec5;
color: #fff!important;
}
/* news pro */
.nspLinks ul li h4 {
font-weight: 400;
font-size: 16px;
line-height: 18px;
}
.nspLinks ul li p {
	text-transform:none;
	font-size: 14px;
	font-weight:300;
}
.readon-button{
text-transform: none;
font-size: 14px;
line-height: 20px;
font-weight: 300;
font-family: 'Open Sans', sans-serif !important;
}
.readon-button:hover {
}